{% load i18n active %}
<div class="list-group mb-3">
  <a class="{% active 'home' %} list-group-item list-group-item-action" href="{% url 'home' %}"><i class="bi bi-house"></i> {% trans 'Home' %}</a>
  <a class="{% active 'login' %} list-group-item list-group-item-action" href="{% url 'login' %}">
    <i class="bi bi-box-arrow-in-right"></i> {% trans 'Code/Hybrid Flow Login' %}</a>
  {# <a class="{% active 'login_installed' %} list-group-item list-group-item-action" href="{% url 'login_installed' %}"><i class="glyphicon glyphicon-log-in"></i> {% trans 'Log in with for installed apps' %}</a> #}
  <a class="{% active 'userinfo_client' %} list-group-item list-group-item-action" href="{% url 'userinfo_client' %}">
    <i class="bi bi-box-arrow-in-right"></i> {% trans 'Implicit Flow Login' %}</a>
  <a class="{% active 'tokeninfo_me' %} list-group-item list-group-item-action" href="{% url 'tokeninfo_me' %}">
    <i class="bi bi-key"></i> {% trans 'Token info' %}</a>
  <a class="{% active 'userinfo_me' %} list-group-item list-group-item-action" href="{% url 'userinfo_me' %}"><i
      class="bi bi-person"></i> {% trans 'About me' %}</a>
  {% if user.is_staff %}
    <a class="list-group-item list-group-item-action" href="{% url 'admin:index' %}"><i class="bi bi-wrench"></i> {% trans 'Administration' %}</a>
  {% endif %}
</div>
