{% load static i18n thumbnail %}
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-brand">
  <div class="{{ containerclass }}">
    <a class="navbar-brand" href="{% if user.identity_provider %}{{ user.identity_provider.uri }}{% else %}{{ sso_base_url }}{% endif %}">
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
        <path
            d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"/>
        <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
      </svg>
      {% if user.identity_provider %}
        {{ user.identity_provider.name }}
      {% else %}
        {% block brand %}{{ brand }}{% endblock %}
      {% endif %}
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0" id="user_apps" data-user-uuid="{{ user.uuid }}"
          data-user-apps-url="{{ user.identity_provider.user_navigation_uri|default:'' }}"
          data-app-uuid="{{ user.application_id }}" data-logout-url="{% url 'logout' %}?next={{ request.path }}">
        <li class="nav-item"><a class="nav-link active" href="{% url 'home' %}">{{ app_name }}</a></li>
      </ul>
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'auth_profile' %}">
              {% if user.picture %}
                {% thumbnail user.picture "30x30" crop="center" as im %}
                  <img class="rounded g10f-icon-user" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="">
                {% endthumbnail %}
              {% else %}
                <i class="bi bi-person"></i>
              {% endif %}
              {{ user.first_name }}
              {% if user.is_verified %}<sup><i class="bi bi-asterisk" title="{% translate '2 factor logged in' %}"></i></sup>{% endif %}
            </a></li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}"><i class="bi bi-box-arrow-left"></i> {% translate 'Log out' %}</a></li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}"><i class="bi bi-box-arrow-in-right"></i> {% translate 'Log in' %}</a></li>
        {% endif %}
      {% include 'include/_color_mode_button.html' %}
      </ul>
    </div>
  </div>
</nav>
<noscript>
  <div class="alert alert-warning">
    {% blocktranslate trimmed with "http://enable-javascript.com/" as url %}Please activate JavaScript to enable all features.
      <a href="{{ url }}" target="_blank">Read this page for more help</a>{% endblocktranslate %}
  </div>
</noscript>
