<!DOCTYPE html>
<html>
<body
    data-authenticated="{{ user.is_authenticated }}"
    data-milliseconds="10000"
    data-error="{{ error }}"
    data-target_origin="{{ origin }}" 
    data-client_id="{{ client_id }}"
    data-session_state="{{ session_state }}"
    data-logout_url="{% url 'logout' %}"
    data-refresh_token_url="{{ refresh_token_url }}" >
	<script>
	(function() {
	    var targetOrigin = document.body.dataset.target_origin;
	    var message = document.body.dataset.client_id + " " + document.body.dataset.session_state;
	    var timerID;
	    
	    var checkSession = function() {
	        var win = window.parent.document.getElementById('op').contentWindow;
	        win.postMessage( message, targetOrigin);
	    }	    
	    var setTimer = function() {
	        var milliseconds = document.body.dataset.milliseconds;
	        checkSession();
	        return setInterval(checkSession, milliseconds);
	    }
	    
	    var receiveMessage = function(e) {
	        console.log('receiveMessage: ' + e.data + ' from ' + e.origin);
	        if (e.origin !== targetOrigin ) {
	            console.log('receiveMessage: cross-site scripting attack?');
	            return;
	        }	        
	        if (e.data === "changed") {
	            var refresh_token_url = document.body.dataset.refresh_token_url;
	            var logout_url = document.body.dataset.logout_url;
	            clearInterval(timerID);
	            if (refresh_token_url) {
	                console.log("redirect to: " + refresh_token_url);
	                window.location.href = refresh_token_url;
	            } else {
                    console.log("redirect to logout: " + logout_url);
	                window.parent.location.href = logout_url;
	            }
	        }
	    }
	    var authenticated = document.body.dataset.authenticated;
        var error = document.body.dataset.error;
        if (error === "login_required") {
            var logout_url = document.body.dataset.logout_url;
            console.log("error: login_required -> redirect to logout: " + logout_url);
            window.parent.location.href = logout_url;
        } else if (authenticated === "True" && document.body.dataset.session_state != "") {
            window.addEventListener('message', receiveMessage, false);
            timerID = setTimer();
        }
	})();
	</script>
</body>
</html>
