<!DOCTYPE html>{% load static i18n active %}
<html lang="{{ LANGUAGE_CODE|default:"de-de" }}">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block style %} 
    <link rel="stylesheet" href="{% block stylesheet %}{% static "css/style-1.0.5.css" %}{% endblock %}">
    {% block extrastyle %}{% endblock extrastyle %}
    {% endblock style %}    
    <link rel="shortcut icon" href="{% static "ico/favicon.ico" %}">
    {% block extrahead %}{% endblock extrahead %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static "js/vendor/jquery-3.3.1.min.js" %}"><\/script>')</script>
    <script src="{% static "js/vendor/bootstrap-3.3.4.min.js" %}"></script>
    <script>window.__media_prefix__ = "{% filter escapejs %}{% static "" %}{% endfilter %}";</script>
    <script src="{% static "js/global-nav-1.0.9.js" %}"></script>
    {% block extrascript %}{% endblock extrascript %}
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{% static "js/vendor/html5shiv-3.7.2.js" %}"></script>
      <script src="{% static "js/vendor/respond-1.4.2.min.js" %}"></script>
    <![endif]-->        
</head>
<body>
    {% block body %}
    <!--[if lt IE 8]><p class=alert alert-warning>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
    {% block navbar %}
    {% include "includes/global_navigation.html" %}
    {% include 'includes/noscript.html' %} 
    {% endblock navbar %}
    <div class="{% block containerclass %}container{% endblock %}"> 
        {% block breadcrumb %}
        <ol class="breadcrumb">
            <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
        </ol> 
        {% endblock %}     
        {% block content %}
        <div class="row">
            <div class="col-md-3 col-sm-4">
                <div class="list-group">              
                    <a class="{% active 'home' %} list-group-item" href="{% url 'home' %}"><i class="glyphicon glyphicon-home"></i> {% trans 'Home' %}</a>
                    <a class="{% active 'login' %} list-group-item" href="{% url 'login' %}"><i class="glyphicon glyphicon-log-in"></i> {% trans 'Code/Hybrid Flow Login' %}</a>
                    {# <a class="{% active 'login_installed' %} list-group-item" href="{% url 'login_installed' %}"><i class="glyphicon glyphicon-log-in"></i> {% trans 'Log in with for installed apps' %}</a> #}
                    <a class="{% active 'userinfo_client' %} list-group-item" href="{% url 'userinfo_client' %}"><i class="glyphicon glyphicon-log-in"></i> {% trans 'Implicit Flow Login' %}</a>
                    <a class="{% active 'userinfo_me' %} list-group-item" href="{% url 'userinfo_me' %}"><i class="glyphicon glyphicon-user"></i> {% trans 'About me' %}</a>
                    {% if user.is_staff %}
                    <a class="list-group-item" href="{% url 'admin:index' %}"><i class="glyphicon glyphicon-wrench"></i> {% trans 'Administration' %}</a>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-9 col-sm-8">
                <div class="">{% block right_content %}<h2>{% trans 'Home' %}</h2>{% endblock %}</div>
            </div>
        </div>
        {% endblock content %}
      <hr>
      {% block footer %}      
      <footer>
        <ul class="footer-links">
            <li><a href="{% url 'about' %}">{% trans 'About us' %}</a></li>
            <li class="text-muted">·</li>
            <li>
		        <!-- A link to launch the Classic Widget -->
		        <a href="javascript:void(0)" data-uv-lightbox="classic_widget" data-uv-mode="feedback" data-uv-primary-color="#cc6d00" data-uv-link-color="#007dbf" data-uv-forum-id="202283">Feedback &amp; Support</a>
		    </li>
        </ul>
      </footer>
      {% endblock footer %}
    </div> <!-- /container -->
    {% endblock body %}
<!-- UserVoice JavaScript SDK (only needed once on a page) -->
<script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/NXn6Yc2C5wcPqO0JQXKig.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>
{% if user.get_identity_provider.check_session_iframe %}
<iframe title='empty' class="hidden" id='op' src='{{ user.get_identity_provider.check_session_iframe }}'></iframe>
<iframe title='empty' class="hidden" id='rp' src='{% url 'session' %}'></iframe>
{% endif %}
</body>
</html>
