{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktrans %}{{ brand }}{% endblocktrans %} | {{ title }}{% endblock %}


{% block sso_base_url %}
  {% if user.is_authenticated %}
    {% with identity_provider=user.identity_provider %}
      {% if identity_provider.uri %}
        <a class="brand" href="{{ identity_provider.uri }}">{{ identity_provider }}</a>
      {% else %}
        <a class="brand" href="{% url 'home' %}">Test Client</a>
      {% endif %}
    {% endwith %}
  {% endif %}
{% endblock sso_base_url %}


{% block  user_apps %}
  {% if user.is_authenticated %}
    {% with identity_provider=user.identity_provider %}
      <ul class="nav" id="user_apps">
        {% if identity_provider.uri %}
          <li><a href="{{ identity_provider.uri }}">SSO</a></li>
        {% endif %}
        {% for app in userinfo.applications %}
          {% if app.global_navigation %}
            <li class="{% if app.uuid == identity_provider.client_id %}active{% endif %}"><a href="{{ app.url }}">{{ app.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endwith %}
  {% endif %}
{% endblock user_apps %}