<!DOCTYPE html>{% load static i18n active %}
<html lang="{{ LANGUAGE_CODE|default:"de-de" }}">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock title %}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="g10f">
  <link rel="apple-touch-icon" href="{% static 'ico/apple-touch-icon.png' %}" sizes="180x180">
  <link rel="icon" href="{% static 'ico/favicon-32x32.png' %}" sizes="32x32" type="image/png">
  <link rel="icon" href="{% static 'ico/favicon-16x16.png' %}" sizes="16x16" type="image/png">
  <link rel="icon" href="{% static 'ico/favicon.ico' %}">
  {% block extrahead %}{% endblock %}
  {% block style %}
    <link rel="stylesheet" href="{% if debug %}{% static 'css/main.css' %}{% else %}{% static 'css/main.min.css' %}{% endif %}">
    <link href="{% static 'font/bootstrap-icons.css' %}" rel="stylesheet">
  {% endblock style %}
  {% block extrastyle %}{% endblock %}
  {% block script %}
    <script src="{% static 'js/vendor/jquery.min.js' %}"></script>
    <script src="{% static 'js/vendor/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static "js/global-nav.js" %}"></script>
    <script src="{% static "js/plugins.js" %}"></script>
    <script src="{% static "js/script.js" %}"></script>
  {% endblock script %}
  {% block extrascript %}{% endblock extrascript %}
</head>
<body>
{% with containerclass='container-xxl' %}
  {% block body %}

    {% block navbar %}{% include "include/global_navigation.html" %}{% endblock navbar %}
    <div class="{% block containerclass %}{{ containerclass }}{% endblock %}">

      <nav aria-label="breadcrumb">
        {% block breadcrumb %}
          <ol class="breadcrumb">
            <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
          </ol>
        {% endblock %}
      </nav>

      {% block content %}
        <main class="{% block mainclass %}{% endblock %}">
          <aside>
            {% block left_content %}{% include 'include/_navigation.html' %}{% endblock left_content %}
          </aside>
          <section>
            {% block right_content %}<h1>{% trans 'Home' %}</h1>{% endblock %}
          </section>
        </main>
      {% endblock content %}

      {% block footer %}
        <footer class="footer mt-auto">
          <hr>
          <div class="{{ containerclass }}">
            <ul>
              <li><a href="{% url 'about' %}">{% translate 'About us' %}</a></li>
            </ul>
          </div>
        </footer>
      {% endblock footer %}

    </div>
  {% endblock body %}
{% endwith %}
{% if user.is_authenticated and user.get_identity_provider.check_session_iframe %}
  <iframe title='empty' class="hidden" id='op' src='{{ user.get_identity_provider.check_session_iframe }}'></iframe>
  <iframe title='empty' class="hidden" id='rp' src='{% url 'session' %}'></iframe>
{% endif %}
</body>
</html>
