{% extends "base_site.html" %}
{% load i18n %}

{% block title %}Client {% trans 'OAuth 2.0 for installed Applications' %}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
        <li class="active">{% trans 'Log in for installed apps' %}</li>
    </ol>
{% endblock %}


{% block right_content %}
    <h3>{% trans 'Log in for installed Applications' %}</h3>

    {% for  authentication in authentications %}
        <p><a class="btn btn-primary" href="{{ authentication.uri }}"><span class="glyphicon glyphicon-user"></span>
            {% blocktrans with name=authentication.name %}Log in with
                {{ name }}{% endblocktrans %}</a></p>
    {% endfor %}

    <h3>Get token from code</h3>

    <form class="form-horizontal">
        <div class="form-group">
            <label for="token_url" class="col-sm-2 control-label">Token URL</label>
            <div class="col-sm-10"><input class="form-control" id="token_url" placeholder="token url" value="https://sso-dev.dwbn.org/oauth2/token/"></div>
        </div>
        <div class="form-group">
            <label for="redirect_url" class="col-sm-2 control-label">Redirect URL</label>
            <div class="col-sm-10"><input class="form-control" id="redirect_url" placeholder="redirect url" value="urn:ietf:wg:oauth:2.0:oob"></div>
        </div>
        <div class="form-group">
            <label for="client_id" class="col-sm-2 control-label">Client ID</label>
            <div class="col-sm-10"><input class="form-control" id="client_id" placeholder="client id" value="56037ce0c68142f8bef2d429da0cfae9"></div>
        </div>
        <div class="form-group">
            <label for="code" class="col-sm-2 control-label">Code</label>
            <div class="col-sm-10"><input class="form-control" id="code" placeholder="code"></div>
        </div>
        <div class="form-group">
            <label for="result" class="col-sm-2 control-label">Result</label>
            <div class="col-sm-10" id="result"></div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                {# <button class="btn btn-default" type="submit">Submit</button> #}
                <button class="btn btn-default" type="button" id="js_submit">Submit with javascript (CORS)</button>
            </div>
        </div>
    </form>
    <script>
        $(function () {
            $("#js_submit").on("click", js_submit);
        });

        function js_submit() {
            var token_url = $("#token_url").val() ;
            var code = $("#code").val();
            var client_id = $("#client_id").val();
            var redirect_uri = $("#redirect_url").val();
            var data = {
                "grant_type": "authorization_code",
                "client_id": client_id,
                "redirect_uri": redirect_uri,
                "code": code
            }

            // Send the data using post
            var posting = $.post(token_url, data);

            // Put the results in a div
            posting.done(function (data) {
                console.log( "data:", data );
                $("#result").empty().append(JSON.stringify(data));
            });
            posting.fail(function (xhr, textStatus, errorThrown) {
                console.log( "textStatus:", textStatus );
                console.log( "errorThrown:", errorThrown );
            });

        }
    </script>
{% endblock right_content %}
