{% extends "base_site.html" %}
{% load i18n %}

{% block extrascript %}
  <script type="text/javascript">
      if (opener) { // login in popup
          opener.location.href = "{% url 'login' %}";
          close();
      } else { // login in iframe
          // window.top.location.reload();
      }
  </script>
{% endblock extrascript %}

{% block title %}Client {% trans 'Login' %}{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
    <li class="active">{% trans 'Log in for web apps' %}</li>
  </ol>
{% endblock %}

{% block right_content %}
  <h1>{% trans 'Log in for Web Applications' %}</h1>

  {% if messages %}{% for message in messages %}
    <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">{{ message|safe }}</div>
  {% endfor %}
  {% endif %}

  {% if not user.is_authenticated %}
    <p>Welcome, please select your Identity Provider.</p>
  {% endif %}

  {% comment %}
    {% if user.is_authenticated %}
        <p>{% blocktrans with user.identity_provider as provider %}Welcome, {{ user }}, you are logged in with <strong>{{ provider }}</strong>.{% endblocktrans %}
            {% if next %}
                Thanks for logging in. <a href="{{ next }}">{% trans 'Next' %}</a>
            {% endif %}
        </p>
    {% else %}
        <p>Welcome, please select your Identity Provider.</p>
    {% endif %}
  {% endcomment %}

  {% for  authentication in authentications %}
    <div class="row mb-2">
      <div class="col">
        <a id="{{ authentication.id }}"
           class="btn btn-{% if authentication.id == request.session.client_id %}danger{% else %}primary{% endif %}"
           href="{{ authentication.uri }}"
           data-bs-toggle="tooltip" data-bs-placement="right" title="{{ authentication.tooltip }}">
          <i class="bi bi-person"></i>  {% blocktrans with name=authentication.name %}Log in with {{ name }}{% endblocktrans %}
        </a>
      </div>
    </div>
  {% endfor %}

  {% if userinfo %}
    <table class="table table-condensed">
      <tr>
        <th>Key</th>
        <th>Value</th>
      </tr>
      {% for key, value in userinfo.items %}
        <tr>
          <td>{{ key }}</td>
          <td>
            {% if key == 'picture' %}
              <img src="{{ value }}" width="100px" alt="user image">
            {% elif key == 'applications' %}
              <ul>
                {% for app in value %}
                  <li><a href="{{ app.url }}">{{ app.title }}</a></li>{% endfor %}
              </ul>
            {% else %}{{ value }}{% endif %}
          <td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}

{% endblock right_content %}
