{% load i18n thumbnail %}

<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% if user.identity_provider %}
                <a class="navbar-brand" href="{{ user.identity_provider.uri }}">{{ user.identity_provider.name }}</a>
            {% else %}
                <a class="navbar-brand" href="{{ sso_base_url }}">{% block brand %}{{ brand }}{% endblock %}</a>
            {% endif %}
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav" id="user_apps" data-user-uuid="{{ user.uuid }}"
                data-user-apps-url="{{ user.identity_provider.user_navigation_uri|default:'' }}"
                data-app-uuid="{{ user.application_id }}" data-logout-url="{% url 'logout' %}?next={{ request.path }}">
                <li class="active"><a href="{% url 'home' %}">{{ app_name }}</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li id="user-profile"><a href="{% url 'auth_profile' %}"><i
                            class="glyphicon glyphicon-user"></i> {{ user.first_name }}</a>
                    <li><a href="{% url 'logout' %}"><i class="glyphicon glyphicon-log-out"></i> {% trans 'Log out' %}
                    </a></li>
                {% else %}
                    <li><a href="{% url 'login' %}?next={{ request.path }}"><i
                            class="glyphicon glyphicon-log-in"></i> {% trans 'Log in' %}</a></li>
                {% endif %}
            </ul><!-- /.navbar-right -->
        </div><!--/.navbar-collapse -->
    </div>
</nav>
